{% extends 'base2.html.twig' %}

{% block title %}Liste des projets{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    <h1>Liste des projets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Etat d'avancement</th>
                <th>chercheurs</th>


            </tr>
        </thead>
        <tbody>
            {% for projet in projets %}
                <tr>
                    <td>{{ projet.titre }}</td>
                    <td>{{ projet.description }}</td>
                    <td>{{ projet.dateDebut|date('d/m/Y') }}</td>
                    <td>{{ projet.dateFin|date('d/m/Y') }}</td>
                    <td>{{ projet.etatAvancement }}</td>
                    <td>
                            {% for chercheur in projet.chercheurs %}
                                <p>{{ chercheurs.id }}</p>
                            {% endfor %}
                    </td>


                </tr>
            {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('app_add_projet') }}" class="btn btn-primary">Créer un projet</a>


{% endblock %}
