{% extends 'base1.html.twig' %}

{% block title %}Créer une publication{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    <h1>Créer une publication</h1>

    {{ form_start(form) }}

    {{ form_row(form.titre) }}
    {{ form_row(form.date) }}
    {{ form_row(form.contenu) }}
    {{ form_row(form.PublicationChercheur, {'label': 'Chercheur'}) }}

    <div class="button-container">
        <button type="submit" class="btn btn-primary">Créer</button>
        <a href="{{ path('app_publication_liste') }}" class="btn btn-success">Liste des Publication</a>
    </div>

    {{ form_end(form) }}

{% endblock %}