{% extends 'base1.html.twig' %}

{% block title %}Publication{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    <h1>Publication</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titre</th>
                <th scope="col">Date</th>
                <th scope="col">Contenu</th>
                <th scope="col">Chercheur</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th scope="col">Actions</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for publication in pub %}
                <tr>
                    <td>{{ publication.id }}</td>
                    <td>{{ publication.titre }}</td>
                    <td>{{ publication.date|date('Y-m-d H:i:s') }}</td>
                    <td>{{ publication.contenu }}</td>
                    <td>{{ publication.publicationChercheur.id }} {{ publication.publicationChercheur.email }}</td>

                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_Equipement_delete', {'id': publication.id}) }}" class="btn btn-danger">Supprimer</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_add_publication') }}" class="btn btn-primary">Ajouter une Publication</a>
    {% endif %}
{% endblock %}
